body,
p,
h2,
ul {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__element {
    margin-left: 20px; }
  .menu__link {
    display: block;
    padding: 22.5px 0 23px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500; }
    .menu__link.is-active {
      color: #00acdc;
      position: relative; }
      .menu__link.is-active::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: #00acdc;
        position: absolute;
        bottom: 0;
        left: 0; }
    .menu__link:hover {
      color: #00acdc; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 15px 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f3f3f3;
  width: 200px;
  border-radius: 5px; }
  .card__image {
    width: 160px;
    height: 134px;
    position: relative;
    top: 15px;
    margin-bottom: 60px;
    -ms-flex-item-align: center;
        align-self: center; }
  .card__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px; }
  .card__code {
    margin-bottom: 15px; }
  .card__reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 17px; }
  .card__price {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .card__sum {
    font-size: 16px;
    font-weight: bold; }
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    border: 1px solid #00acdc;
    background-color: #00acdc;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px; }
    .card__link:hover {
      background-color: #fff;
      color: #00acdc;
      border: 1px solid #00acdc;
      border-radius: 5px; }

.rating__star {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 1px;
  background: url(../images/star.svg) no-repeat center; }

.rating--5 :nth-child(-n+5) {
  background: url(../images/star-active.svg) no-repeat center; }

.rating--4 :nth-child(-n+4) {
  background: url(../images/star-active.svg) no-repeat center; }

.rating--3 :nth-child(-n+3) {
  background: url(../images/star-active.svg) no-repeat center; }

.rating--2 :nth-child(-n+2) {
  background: url(../images/star-active.svg) no-repeat center; }

.rating--1 :nth-child(-n+1) {
  background: url(../images/star-active.svg) no-repeat center; }

html {
  font-family: Roboto, sans-serif;
  font-size: 11px; }

.hidden-heading {
  height: 0;
  visibility: hidden;
  position: absolute; }

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 992px;
  margin: auto; }
  .card-list__card {
    margin: 50px 24px 0; }

/*# sourceMappingURL=main.css.map */
